* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-gap: 20px;
    background-color: blue;
    height: 100%;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}


.sect {
    background-color: blue;
}


.box {
    background-color: white;
    color: blue;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}